<div id="header">
  <h1>Hacknyf2014</h1>
</div>

<div id="search">
  
  <div>
      <a href="javascript:void(0)" onclick="scrapeTwitter(); return false;">go</a>
  </div>
  
  <input type="text" placeholder="Enter in a hashtag "></input>


</div>



<div id="trending">




</div>